<div class="container mt-5">
    <button class="btn btn-info" (click)="logOut()">Log Out</button>
    <div class="row">   
        <div class="col-5 text-center mx-auto shadow p-4">
            <h4>Welcome, {{firstName}}.</h4>
            <div><button class="btn w-75" id="btn" routerLink="/dashboard/newbudget">Create a New Budget</button></div>
            <div><button class="btn w-75" id="btn" routerLink="/dashboard/allbudgets">View Previous Budgets</button></div>
        </div>
    </div>
</div>
